fastapi
uvicorn
python-multipart
pydantic
pydantic-settings

bcrypt
pyjwt

cryptography

sqlite-utils

python-dotenv

fpdf
python-docx

pdfplumber
pytesseract
pdf2image
Pillow

requests

openai

